/* Removes default light grey backgrounds on scroll panes */
.scroll-pane > .viewport {
  -fx-background-color: transparent;
}

/* Styles the production list headers (the "Units" and "Buildings") above the
 * list of available buildables.
 */
.production-list-title {
  -fx-pref-width: 275px;
  -fx-background-color: #CCCCCC;
  -fx-padding: 10px;
}

/* Styles a production list item representing a city buildable. */
.production-list-item {
  -fx-pref-width: 275px;
  -fx-background-color: #FFFFFF;
  -fx-padding: 10px;
  /* Make items slightly translucent by default. */
  -fx-opacity: 0.5;
}

/*
 * Removes padding from buildables that haven't been unlocked yet so they don't
 * take up any space in the production list.
 */
.production-list-item.not-unlocked {
  -fx-padding: 0;
}

/* Make items opaque if they can be built or they are currently being built. */
.production-list-item.can-build, .production-list-item.building {
  -fx-opacity: 1;
}

/* Change the background colour of an item when the user is hovering over it */
.production-list-item.can-build:hover {
  -fx-background-color: #EEEEEE;
}

/* Change the background colour of an item when the user is clicking on it */
.production-list-item.can-build:pressed {
  -fx-background-color: #DDDDDD;
}
